/* Write your CSS here! */
body{
    margin: 8px;
    display: block; 
}
#mainHeading {
    color: red;
}
.funParagraph{
    color:green;
}
/* #icon{
    width: 10%;
    height: 10%;
    float:left;
} */